* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

body {
  font-family: Montserrat, sans-serif;
}

.container {
  width: 1280px;
  height: 1626px;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
}

.navbar {
  width: 620px;
  height: 15px;
  padding: 25px 330px;
}

.navbar-menu {
  display: flex;
  align-items: center;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  font-weight: 700;

  color: #ff0000;
}

.navbar-menu-link {
  margin-right: 72px;
}

.main-section-image {
  height: 100%;
  width: 100%;
  left: 0px;
  top: 78px;
}

.main-text-title {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  align-items: flex-end;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  padding: 48px 253px 38px;

  color: #373737;
}

.main-text-box {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  padding-right: 67.5px;
  padding-left: 67.5px;
  padding-bottom: 28px;
  text-align: center;
  letter-spacing: 2.4px;

  color: #373737;
}

.main-button {
  text-align: center;
  margin-top: 84px;
  margin-left: 544.5px;
  margin-right: 544.5px;
}

.button-click {
  color: #ffffff;
  border: 1px solid transparent;
  background: #ff0000;
  border-radius: 4px;
  padding: 18px 42px;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.8px;
}

.footer-text {
  display: flex;
  flex-direction: row-reverse;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 2.4px;
  margin: 82px 105px 29px 713px;
}
